* {
	padding : 0px;
	margin : 0px;
}

#onglets {
	display: flex;
}

#onglets a {
	color : #e0e0e0;
	text-decoration:none;
}

body {
	background-color : #555555;
	color : #e0e0e0;
	font-family: sans-serif;
	font-size: 16px;
	padding-left:10px;
	padding-right:10px;
}

a , a:visited {
	color: #80caff; 
}

.video a:visited , .video a  {
	color: #f2b2b2; 
}

.interro a:visited , .interro a  {
	color: #86fac4; 
}


li {
	margin-left:15px;
	padding-left:15px;
}

ul {
	margin-left:15px;
	padding-left:15px;
}

article {
	margin-left:10px;
	margin-bottom:10px;
}

section {
	display:none;
}

section:target {
	display:block;
	border : solid 2px #e0e0e0;	
	background-color:#424242;
	margin-right:15px;
	border-top-right-radius: 10px;	
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;	
}

article {
	display:none;
}

h2 {
	background-color:#424242;
	padding:10px;
	border : solid 2px #e0e0e0;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;	
}

h3 {
	margin-left:10px;
}

h4 {
	margin:10px;
}

.cache {
	display : none ;
}

.visible {
	display : block ;
}

.cours {
	margin-top:15px ;
}

.deplier {
	background-color:#726272;
	color : #7FFF7F;
	padding:10px;
	margin-right:10px;
	margin-left:10px;
	border-radius:10px;
	border : solid 2px #7FFF7F;
	font-weight: bold;
}

.replier {
	background-color:#675252;
	color : #FF9F9F;
	padding:10px;
	margin-right:10px;
	margin-left:10px;
	border-radius:10px;
	border : solid 2px #FF9F9F;
	font-weight: bold;
}

table, tr, td {
	border : solid 1px #e0e0e0;
}

tr, td {
	padding:5px;
	padding:5px;
}

.col01 {
	width:25%;
}

.col02 {
	width:75%;
}

